html{
	background-color:#F4F4F4;;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%;
}

body {
	width:560px;
	border:1px solid #ddd;
	margin:10px auto;
	background-color:#FFF;
	padding:10px 30px;
	border-radius:5px;
}

input {
	display:block;
	margin-bottom:10px;
	border:1px solid #999;
	padding:8px;
	border-radius:3px;
}

input[type=button] {
	width:150px;
	color:#FFF;
	background:linear-gradient(top, #F33, #933 );
	background:-webkit-linear-gradient(top, #F33, #933 );
	background:-moz-linear-gradient(top, #F33, #933 );
	border:1px solid #333;
	cursor:pointer;
}