html {
	background-color:#F4F4F4;;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%;
}

header {
	width: 101%;
	height: 13%;
	/*border:1px solid #999;*/
	/*border-radius:3px;*/
	background:linear-gradient(top, #F33, #933 );
	background:-webkit-linear-gradient(top, #F33, #933 );
	background:-moz-linear-gradient(top, #F33, #933 );
}

img {
	float: left;
	margin: 5px;
}

#usuario {
	background-color:#FFF;
   	border:1px solid #ddd;
   	border-radius:5px;
    height:500px;
    width: 600px;
   	padding: 20px;
   	margin-top: 1%;
   	margin-left: 15%;
    float: left;
}

#administrador {
	background-color:#FFF;
   	border:1px solid #ddd;
   	border-radius:5px;
    height:500px;
    width: 600px;
   	padding: 20px;
   	margin-top: 1%;
   	margin-left: 0.5%;
	float: left;
}

h1{
	text-align: center;
	color: white;
	font-size:30px;
	letter-spacing:-0.05em;
	text-shadow:1px 1px 2px #666;
}

input {
	display:block;
	margin-bottom:10px;
	border:1px solid #999;
	border-radius:3px;
	padding:8px;
}

input[type=submit] {
	width:100px;
	color:#FFF;
	background:linear-gradient(top, #F33, #933 );
	background:-webkit-linear-gradient(top, #F33, #933 );
	background:-moz-linear-gradient(top, #F33, #933 );
	border:1px solid #333;
	cursor:pointer;
}